.productCard {
  max-width: 420px;
  margin: 2rem auto;
  text-align: center;

  footer {
    margin: 1rem 0;
  }

  button {
    border: 1px solid #694E4E;
    background-color: #694E4E;
    color: #FAEEE0;
    padding: 0.5rem 2rem;
    border-radius: 3px;
    font-size: 1.25rem;
  }

  button:hover {
    border: 1px solid #694E4E;
    background-color: #FAEEE0;
    color:  #694E4E;
    padding: 0.5rem 2rem;
    border-radius: 3px;
    font-size: 1.25rem;
    cursor: pointer;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

}

.price {
  font-size: 1.74rem;
  font-weight: 200;
  color: #694E4E;
  margin: 0.25rem 0;
}

.description {
  font-size: 14px;
  color: #694E4E;

}

.name {
  font-size: 2.75rem;
  font-weight: 800;
  color: #694E4E;
}
